body {
    /* background-color: #fbc210; */
}

.banner {
    height: 75%;
    width: 75%;
    opacity: .5;
}

/* .heading {
    margin-top: 1%;
} */

.carousel {
    width: 25%;
    height: auto;
    margin-bottom: 1%;
}

.row {
    padding: 20px;
}

.lettering {
    border-radius: 50%;
    border:3px solid #fbc210;
    
}

/* .imageDiv {
    max-width: 250px;
    max-height: 200px;
} */

